@import 'variables';

body {
	font-family: $cabin;
	line-height: 1.5;
	background-color: $blue;
	width: 100%;
	padding: 0;
	margin: 0; }
	
h1, h2, h3, h4 {
	font-family: $cabin;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

p {
	font-size: 1rem;
	font-weight: 500;
	color: $blue;
}



/**
 * HEADER
 */
header#main-header {
	background-color: $white;
	width: 100%;
	z-index: 20;
	border-bottom: 1px solid $blue;
	
	@include breakpoint(xsmall) {
		position: fixed;
		left: 0;
		top: 0;
	}
	
	#logo-123quanto {
		@include breakpoint(xsmall) {
			margin-top: 16px;
		}
		
		@include breakpoint(small) {
			margin-top: 14px;
		}
		
		@include breakpoint(medium) {
			margin-top: 11px;
		}
	}
}



/*
 * MAIN NAVIGATION
 */
ul#main-navigation {
	padding: 0;
	margin: 0;
	float: right;
	list-style-type: none;
	
	li {
		float: left;
		border-right: 1px solid $blue;
		
		@include breakpoint(xsmall) {
			margin-top: 11px;
			margin-bottom: 12px;
		}
		
		@include breakpoint(medium) {
			margin-top: 10px;
			margin-bottom: 13px;
		}
		
		&:last-child {
			margin-right: 0;
			border: none;
		}
		
		a {
			color: $blue;
			padding: 0;
			padding-left: 10px;
			padding-right: 10px;
			display: block;
		}
	}
}



/*
 *
 */
#skip-overview {
	@include breakpoint(xsmall) {
		color: $white;
		width: 24px;
		height: 16px;
		margin-left: 0;
		display: block;
		position: absolute;
		left: auto;
		right: 10px;
		bottom: -4px;
		z-index: 19;
	}
	
	@include breakpoint(large) {
		margin-left: -12px;
		display: block;
		position: absolute;
		left: 50%;
		right: auto;
		top: 100%;
	}
	
	i {
		@include align_middle;
	}
}




/*
 * PAGINATION
 */
#pagination {
	@include breakpoint(xsmall) {
		background-color: transparent;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		right: auto;
		top: auto;
		bottom: 32px;
		z-index: 18;
	}
	
	@include breakpoint(large) {
		width: 1px;
		height: 100vh;
		position: absolute;
		left: auto;
		right: 0;
		top: 100%;
		bottom: auto;
	}
	
	ul {
		@include breakpoint(xsmall) {
			padding: 0;
			margin: 0;
			margin-left: 10px;
			margin-top: -8px;
			list-style-type: none;
			position: relative;
			left: auto;
			top: auto;
			transform: none;
		}
		
		@include breakpoint(large) {
			padding: 0;
			margin: 0;
			list-style-type: none;
			position: absolute;
			left: -48px;
			top: 50%;
			transform: translateY(-50%);
		}
		
		li {
			@include breakpoint(xsmall) {
				padding: 0;
				padding-left: 0;
				padding-right: 10px;
				float: left;
			}
			
			@include breakpoint(large) {
				padding-top: 5px;
				padding-bottom: 5px;
				float: none;
			}
			
			a {
				background-color: $blue;
				width: 16px;
				height: 16px;
				display: block;
				border: 1px solid $white;
				border-radius: 50%;
			}
			
			&.active {
				a { background-color: $white; }
			}
		}
	}
}




/*
 * BADGE
 */
ul.app-badge {
	padding: 0;
	margin: 0;
	margin-top: 0;
	display: table;
	list-style-type: none;
	
	@include breakpoint(xsmall) {
		margin-left: auto;
		margin-right: auto;
	}
	
	@include breakpoint(medium) {
		margin-left: 0;
		margin-right: 0;
	}
	
	li {
		padding-left: 10px;
		padding-right: 10px;
		display: table-cell;
		
		a { display: block; }
		
		img { margin-bottom: 0!important; }
	}
}



/**
 *
 */
#control {
	width: 0; position: relative;
}

#fullpage {
	width: 100%;
	height: 100vh;
	position: fixed!important;
	left: 0;
	top: 0;
	z-index: 17;
	
	.section {
		width: 100%;
		position: relative;
		
		@include breakpoint(xsmall) {
			height: 100%;
		}
		
		@include breakpoint(medium) {
			height: 100vh;
		}
	}
}



/*
 * INTRO
 */
section#intro {
	background-color: $white;
	background-image: url(../img/background-tyre.png);
	background-position: left top;
	background-repeat: repeat-x;
	width: 100%;
	
	@include breakpoint(xsmall) {
		height: 100%;
	}
	
	@include breakpoint(medium) {
		height: 100vh;
	}
	
	img {
		@include breakpoint(xsmall) {
			max-height: 210px;
		}
		
		@include breakpoint(small) {
			max-height: 270px;
		}
		
		@include breakpoint(medium) {
			max-height: none; 
		}
		
		margin-bottom: 1rem;
	}
	
	.box {
		@include breakpoint(xsmall) {
			height: auto;
			padding-top: 64px;
		}
		
		@include breakpoint(medium) {
			height: 100%;
			padding-top: 0;
		}
		
		background-position: center center;
		background-size: cover;
		width: 100%;
		position: relative;
		
		.align-middle {
			width: 100%;
			
			@include breakpoint(xsmall) {
				position: relative;
				left: auto;
				top: auto;
				transform: none;
			}
				
			@include breakpoint(medium) {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	
	p {
		@include breakpoint(xsmall) {
			font-size: 16px;
		}
		
		@include breakpoint(small) {
			font-size: 18px;
		}
		
		@include breakpoint(medium) {
			font-size: 36px;	
		}
		
		line-height: 1.1;
		text-transform: uppercase;
		
		&.lead {
			@include breakpoint(xsmall) {
				font-size: 16px;
			}
			
			@include breakpoint(small) {
				font-size: 18px;
			}
			
			@include breakpoint(medium) {
				font-size: 48px;
			}
			
			color: $blue;
		}
		
		&.countdown-clock {
			@include breakpoint(xsmall) {
				font-size: 32px;
			}
			
			@include breakpoint(small) {
				font-size: 48px;
			}
			
			@include breakpoint(medium) {
				font-size: 72px;
			}
			
			color: $orange!important;
		}
	}
	
	.auction-time {
		@include breakpoint(xsmall) {
			display: inline-block;
		}
		
		@include breakpoint(small) {
			
		}
		
		@include breakpoint(medium) {
			
		}
		
		i {
			@include breakpoint(xsmall) {
				font-size: 16px;
				color: $blue;
				float: left;
			}
			
			@include breakpoint(small) {
				
			}
			
			@include breakpoint(medium) {
				font-size: 72px;
			}
			
			color: #fff; }
			
		p {
			@include breakpoint(xsmall) {
				font-size: 16px;
				line-height: 1.1;
				float: left;
				margin-left: 8px;
			}
			
			@include breakpoint(small) {
				
			}
			
			@include breakpoint(medium) {
				float: none;
				font-size: 32px;
				margin-left: 80px;
			}
			
			@include breakpoint(large) {
				line-height: 2.2;
			}
			
			line-height: 1.5; }
	}
}



/**
 * PHONE
 */
#phone {
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 100%;
	z-index: 16;
	opacity: 1;
	
	.box {
		position: relative;
		
		@include breakpoint(xsmall) {
			height: auto;
			width: 100%;
			margin-top: 128px;
			height: auto;
		}
		
		@include breakpoint(large) {
			height: 400px;
			margin-top: 0;
			padding-top: 0;
			@include align-middle;
		}
		
		.row, .columns {
			@include breakpoint(xsmall) {
				height: auto;
			}
			
			@include breakpoint(medium) {
				height: 100%;
			}
		}
	}
		
	#phone-container {
		@include breakpoint(xsmall) {
			width: 115px;
			height: 240px;
		}
		
		@include breakpoint(small) {
			width: 144px;
			height: 300px;
		}
		
		@include breakpoint(medium) {
			width: 192px;
			height: 400px;
		}
		
		background-image: url(../img/phone-base.png);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		
		img {
			@include breakpoint(xsmall) {
				width: 100px;
			}
			
			@include breakpoint(small) {
				width: 124px;
			}
			
			@include breakpoint(medium) {
				width: 162px;	
			}
		}
		
		.screen {
			@include breakpoint(xsmall) {
				left: 9px;
				top: 35px;
			}
			
			@include breakpoint(small) {
				left: 11px;
				top: 42px;
			}
			
			@include breakpoint(medium) {
				left: 16px;
				top: 57px;	
			}
			
			position: absolute;
			opacity: 0;
			
			&#screen-1 { opacity: 1!important; }
		}
	}
	
	h1 {
		@include breakpoint(xsmall) {
			font-size: 28px;
			margin-bottom: 1rem;
		}
		
		@include breakpoint(large) {
			font-size: 64px;
			margin-top: 37px;
			margin-bottom: 0;
		}
		
		color: $orange;
		line-height: 1.1;
	}
	
	p {
		font-size: 18px;
		color: $white;
		line-height: 1.1;
		
		&.lead {
			@include breakpoint(xsmall) {
				font-size: 18px;
				margin-top: 0;
			}
			
			@include breakpoint(xsmall) {
				font-size: 24px;
				margin-top: 0;
			}
			
			@include breakpoint(medium) {
				font-size: 42px;
				margin-top: 35px;
			}
		}
	}
	
	ul.app-badge {
		@include breakpoint(xsmall) {
			margin-top: 16px; 
			display: none;
		}
		
		@include breakpoint(large) {
			margin-top: 360px; 
			display: table;
		}
	}
}



/**
 * OVERVIEW SECTION
 */
#overview {
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
	position: fixed;
	left: 0;
	top: 100%;
	z-index: 15;
	
	.parts {
		@include breakpoint(xsmall) {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			opacity: 0;
		}
		
		&.spacer {
			left: 0!important;
			z-index: 100;
			opacity: 0;
		}
		
		&.static {
			left: 0!important;
			z-index: 100;
			opacity: 1;
			
			.box {
				@include breakpoint(xsmall) {
					height: auto;
				}
				
				@include breakpoint(medium) {
					height: 400px;
				}
				
				padding-top: 0;
				position: relative;
				
				.row, .columns {
					@include breakpoint(xsmall) {
						height: auto;
					}
					
					@include breakpoint(medium) {
						height: 100%;
					}
				}
			}
		}
		
		&#part-1 { opacity: 1; z-index: 4; }
		&#part-2 { opacity: 0; z-index: 3; }
		&#part-3 { opacity: 0; z-index: 2; }
		&#part-4 { opacity: 0; z-index: 1; }
		
		img {
			
			margin-bottom: 1.5rem;	
		}
		
		.box {
			@include breakpoint(xsmall) {
				height: auto;
				width: 100%;
				margin-top: 256px;
				height: auto;
			}
			
			@include breakpoint(small) {
				margin-top: 224px;
			}
			
			@include breakpoint(medium) {
				height: 400px;
				margin-top: 0;
				padding-top: 0;
				@include align-middle;
			}
			
			@include breakpoint(large) {
				padding-top: 0;
			}
		}
		
		h1 {
			@include breakpoint(xsmall) {
				font-size: 22px;
				margin-bottom: 1rem;
			}
			
			@include breakpoint(small) {
				font-size: 28px;
			}
			
			@include breakpoint(large) {
				font-size: 64px;
				margin-top: 37px;
				margin-bottom: 0;
			}
			
			color: $green;
			line-height: 1.1;
		}
		
		p {
			font-size: 18px;
			color: $white;
			line-height: 1.1;
			
			&.lead {
				@include breakpoint(xsmall) {
					font-size: 18px;
					margin-top: 0;
				}
				
				@include breakpoint(small) {
					font-size: 24px;
				}
				
				@include breakpoint(medium) {
					font-size: 42px;
					margin-top: 35px;
				}
			}
		}
		
		ul.app-badge {
			@include breakpoint(xsmall) {
				margin-top: 16px; 
				display: none;
			}
			
			@include breakpoint(large) {
				margin-top: 360px; 
				display: table;
			}
		}
	}
}



section#how-it-works {
	background-color: $blue;
	padding-top: 3rem;
	padding-bottom: 3rem;
	
	h1 {
		color: $white;
		margin-bottom: 2rem;
	}
}



section#detail {
	background-color: $white;
	padding-top: 6rem;
	padding-bottom: 2rem;
}



section#easy {
	background-color: $blue;
	padding-top: 3rem;
	padding-bottom: 3rem;
	
	h1 {
		color: $white;
		margin-bottom: 2rem;
	}
	
	p { color: $white; }
	
	ul.app-badge { 
		margin: 0 auto;
	}
}